/* =================================================================
 * COLORS
 * ================================================================= */

$color-accent:                              #F89554 !default;
$color-accent-darkened:                     #CC7766 !default;
$color-alert:                               #ca0b0b !default;
$color-background:                          #404040 !default;
$color-blanchedalmond:                      #FFEBCD !default;
$color-dark-border:                         rgba(191, 113, 0, 0.5) !default;
$color-dark-orange:                         #FFC673 !default;
$color-disabled:                            #cccccc !default;
$color-link:                                #213971 !default;
$color-link-hover:                          rgba(255, 235, 205, 0.5) !default;
$color-primary:                             #000712 !default;
$color-secondary:                           #f2e2dd !default;
$color-text:                                rgb(30, 30, 30) !default;
$color-white:                               #F8F5F5 !default;


/* =================================================================
 * FONTS
 * ================================================================= */

$font-default:                              'Quicksand', sans-serif !default;
