<div class="ks-support">
  <ul>
    <li>
      <a href="https://www.buymeacoffee.com/{{ .Site.Params.buy_me_a_coffee }}" target="_blank" title="Buy me a coffee" aria-label="Buy me a coffee">
        <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" height="41" width="174">
      </a>
    </li>
    <li>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="F33KDHYQSDR6A" />
        <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button" />
        <img alt="" border="0" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </li>
  </ul>
</div>
